@import "node_modules/material-ui/src/less/scaffolding.less";

//Define a custom less file to override any variables defined in scaffolding.less
// @import "my-custom-overrides.less";

@import "node_modules/material-ui/src/less/components.less";

.page-with-nav-content{
  margin-left: 292px;
}

ul li {
  margin-left: 20px;
}

.post {
  border-top: 3px solid gray;
}
