@import variables

@import compass/typography/vertical_rhythm
@import compass/reset
@import compass/css3/animation.scss

@import hmps-animate.scss/animate.scss

+establish-baseline()

html
  font-size: 125%
  font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif
  box-sizing: border-box
  background-color: $grey

*, *:before, *:after
  box-sizing: inherit

@import avatar
@import spinner
@import sidebar
@import group

a
  text-decoration: none
  color: $base-blue

.application-container
  display: flex
  flex-direction: row
  background-color: $base-blue
